<p class="error">{{error}}</p>

<form class="todoinput" action="/todos/skapa" method="post">
  <input
    class="addtodoinput"
    type="text"
    name="description"
    placeholder="Write your todo here"
  />
  <input
    class="generalbtn addtodobtn"
    type="submit"
    name="add"
    value="Add todo"
  />
</form>
<div class="todos">
  {{#each todos}}
    {{#if done}}
      <ul>
        <li><a
            class="desription line"
            href="/todos/{{_id}}"
          >{{description}}</a></li>
      </ul>
    {{else}}
      <ul>
        <li><a class="desription" href="/todos/{{_id}}">{{description}}</a></li>
      </ul>
    {{/if}}
  {{/each}}
</div>