<p class="error">{{error}}</p>

<form class="todoinput" action="/todos/skapa" method="post">
  <input
    class="addtodoinput"
    type="text"
    name="description"
    placeholder="Write your todo here"
  />
  <input
    class="generalbtn addtodobtn"
    type="submit"
    name="add"
    value="Add todo"
  />
</form>
<div class="todos">
  {{#each todos}}
    {{#if done}}
      <ul class="ulcontainer">
        <li class="licontainer"><a
            class="description line"
            href="/todos/{{_id}}"
          >{{description}}</a>
          <div class="donedeletebtncontainer">
            <form
              class="deletebtncontainer"
              action="/todos/{{_id}}/markera-som-klar"
              method="get"
            >
              <input
                class="generalbtn done"
                type="submit"
                value="Marke as done"
              />
            </form>
            <form
              class="deletebtncontainer"
              action="/todos/{{_id}}/ta-bort"
              method="post"
            >
              <input
                class="generalbtn deletebtn"
                type="submit"
                value="Delete todo"
              />
            </form>
          </div>
        </li>
      </ul>
    {{else}}
      <ul class="ulcontainer">
        <li class="licontainer"><a
            class="description"
            href="/todos/{{_id}}"
          >{{description}}</a>
          <div class="donedeletebtncontainer">
            <form
              class="deletebtncontainer"
              action="/todos/{{_id}}/markera-som-klar"
              method="get"
            >
              <input
                class="generalbtn done"
                type="submit"
                value="Marke as done"
              />
            </form>
            <form
              class="deletebtncontainer"
              action="/todos/{{_id}}/ta-bort"
              method="post"
            >
              <input
                class="generalbtn deletebtn"
                type="submit"
                value="Delete todo"
              />
            </form>
          </div>
        </li>
      </ul>
    {{/if}}
  {{/each}}
</div>